     <!-- Sidebar avec fond blanc et bordure latérale sombre -->
        
        <aside class="w-64 h-screen sticky top-0 bg-white border-r-2 border-slate-900 hidden lg:flex flex-col justify-between p-4 overflow-y-auto custom-scrollbar flex-shrink-0">
            <nav class="space-y-6">
        <!-- Section : Général -->
        <div>
            <div class="px-3 mb-2 text-xs font-bold uppercase tracking-wider text-slate-500">Général</div>
            <ul class="space-y-1">
                <li>
                  <a href="/dashboard/" 
   class="flex items-center gap-3 px-3 py-2.5 rounded-xl border transition-all text-sm font-semibold
          {% if request.path == '/dashboard/' %}
              bg-slate-900 text-white border-slate-900 shadow-sm
          {% else %}
              bg-white text-slate-800 border-transparent hover:border-slate-900 hover:bg-slate-50
          {% endif %}">
    <i data-lucide="layout-dashboard" class="w-4 h-4 {% if request.path == '/dashboard/' %}text-white{% else %}text-slate-600{% endif %}"></i>
    <span>Tableau de bord</span>
</a>
                </li>
            </ul>
        </div>

        <!-- Section : Médical -->
        <div>
            <div class="px-3 mb-2 text-xs font-bold uppercase tracking-wider text-slate-500">Médical</div>
                <ul class="space-y-1">
                 <li>
        <button onclick="toggleCollapse('echantillons-sub')" class="w-full flex items-center justify-between px-3 py-2.5 rounded-xl text-slate-800 hover:bg-slate-50 border border-transparent hover:border-slate-900 text-sm font-medium transition-all group">
            <div class="flex items-center gap-3">
                <i data-lucide="test-tube-2" class="w-4 h-4 text-slate-600"></i>
                <span>Échantillonnage</span>
            </div>
            <i data-lucide="chevron-up" class="w-4 h-4 text-slate-500"></i>
        </button>
        <ul id="echantillons-sub" class="block mt-1 ml-4 border-l-2 border-slate-900 pl-3 space-y-1 text-sm text-slate-600">
            <li>
                <a href="/fiches-echantillons/" 
                   class="block py-1.5 pl-2 rounded-md transition-all font-medium text-sm flex items-center justify-between
                        {% if request.path == '/fiches-echantillons/' %}
                            bg-slate-900 text-white border-slate-900 shadow-sm
                        {% else %}
                            text-slate-600 hover:text-slate-900 hover:pl-3
                        {% endif %}">
                    <span>Fiches échantillons</span>
                </a>
            </li>
            <li>
                <a href="/echantillonages/" 
                   class="block py-1.5 pl-2 rounded-md transition-all font-medium text-sm flex items-center justify-between
                        {% if request.path == '/echantillonages/' %}
                            bg-slate-900 text-white border-slate-900 shadow-sm
                        {% else %}
                            text-slate-600 hover:text-slate-900 hover:pl-3
                        {% endif %}">
                    <span>Échantillons</span>
                </a>
            </li>
        </ul>
    </li>
                    
                <li>
                    <button onclick="toggleCollapse('lab-sub')" class="w-full flex items-center justify-between px-3 py-2.5 rounded-xl text-slate-800 hover:bg-slate-50 border border-transparent hover:border-slate-900 text-sm font-medium transition-all group">
                        <div class="flex items-center gap-3">
                            <i data-lucide="flask-conical" class="w-4 h-4 text-slate-600"></i>
                            <span>Laboratoire</span>
                        </div>
                        <i data-lucide="chevron-up" class="w-4 h-4 text-slate-500"></i>
                    </button>
                    <!-- Changement de hidden à block pour l'ouverture par défaut -->
                    <ul id="lab-sub" class="block mt-1 ml-4 border-l-2 border-slate-900 pl-3 space-y-1 text-sm text-slate-600">
                        <li><a href="#" class="block py-1.5 hover:text-indigo-950 font-medium">Analyses en cours</a></li>
                        <li><a href="#" class="block py-1.5 hover:text-indigo-950 font-medium">Résultats validés</a></li>
                    </ul>
                </li>


                <li>
                        <button onclick="toggleCollapse('patients-sub')" class="w-full flex items-center justify-between px-3 py-2.5 rounded-xl text-slate-800 hover:bg-slate-50 border border-transparent hover:border-slate-900 text-sm font-medium transition-all group">
                            <div class="flex items-center gap-3">
                                <i data-lucide="users" class="w-4 h-4 text-slate-600"></i>
                                <span>Patients & DMP</span>
                            </div>
                            <i data-lucide="chevron-up" class="w-4 h-4 text-slate-500"></i>
                        </button>
                        <!-- Changement de hidden à block pour l'ouverture par défaut -->
                        <ul id="patients-sub" class="block mt-1 ml-4 border-l-2 border-slate-900 pl-3 space-y-1 text-sm text-slate-600">
                        <li>
        <a href="/dossiers/patients/" 
        class="block py-1.5 pl-2 rounded-md transition-all font-medium text-sm flex items-center justify-between
                {% if request.path == '/dossiers/patients/' %}
                    bg-slate-900 text-white border-slate-900 shadow-sm
                {% else %}
                    text-slate-600 hover:text-slate-900 hover:pl-3
                {% endif %}">
            
            <span>Dossiers patients</span>

            
        </a>
    </li>
                        {% comment %} <li><a href="#" class="block py-1.5 hover:text-indigo-950 font-medium">Rendez-vous</a></li>
                        <li><a href="#" class="block py-1.5 hover:text-indigo-950 font-medium">Consultations</a></li> {% endcomment %}
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Section : Ressources Humaines -->
     <div>
        <div class="px-3 mb-2 text-xs font-bold uppercase tracking-wider text-slate-500">Gestion RH</div>
        <ul class="space-y-1">
            <li>
                <button onclick="toggleCollapse('rh-sub')" class="w-full flex items-center justify-between px-3 py-2.5 rounded-xl text-slate-800 hover:bg-slate-50 border border-transparent hover:border-slate-900 text-sm font-medium transition-all group">
                    <div class="flex items-center gap-3">
                        <i data-lucide="id-card" class="w-4 h-4 text-slate-600"></i>
                        <span>Personnel & Planning</span>
                    </div>
                    <i data-lucide="chevron-down" class="w-4 h-4 text-slate-500"></i>
                </button>
                
                <ul id="rh-sub" class="hidden mt-1 ml-4 border-l-2 border-slate-900 pl-3 space-y-1 text-sm text-slate-600">
                   <li>
                    <a href="{% url 'personnel' %}" 
                    class="block py-2 px-3 rounded-lg text-sm font-semibold transition-colors
                            {% if request.path == '/personnel/' %}
                                bg-slate-950 text-white border border-slate-900
                            {% else %}
                                text-slate-600 hover:bg-slate-100 hover:text-slate-900
                            {% endif %}">
                        Annuaire du personnel
                    </a>
                </li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        <div class="px-3 mb-2 text-xs font-bold uppercase tracking-wider text-slate-500">Administration</div>
        <ul class="space-y-1">
            <li>
                <button onclick="toggleCollapse('config-sub')" class="w-full flex items-center justify-between px-3 py-2.5 rounded-xl text-slate-800 hover:bg-slate-50 border border-transparent hover:border-slate-900 text-sm font-medium transition-all group">
                    <div class="flex items-center gap-3">
                        <i data-lucide="settings-2" class="w-4 h-4 text-slate-600"></i>
                        <span>Configuration</span>
                    </div>
                    <i data-lucide="chevron-down" class="w-4 h-4 text-slate-500"></i>
                </button>
                
                <ul id="config-sub" class="hidden mt-1 ml-4 border-l-2 border-slate-900 pl-3 space-y-1 text-sm text-slate-600">
                    <li>
                        <a href="{% url 'configurations' %}" 
                        class="block py-2 px-3 rounded-lg text-sm font-semibold transition-colors
                                {% if request.path == '/configurations/' %}
                                    bg-slate-950 text-white border border-slate-900
                                {% else %}
                                    text-slate-600 hover:bg-slate-100 hover:text-slate-900
                                {% endif %}">
                        Paramètres ERP</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'structures' %}"
                         class="block py-2 px-3 rounded-lg text-sm font-semibold transition-colors
                            {% if request.path == '/structures/' %}
                                bg-slate-950 text-white border border-slate-900
                            {% else %}
                                text-slate-600 hover:bg-slate-100 hover:text-slate-900
                            {% endif %}">
                        Unités & Département</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </nav>
    
    <!-- Pied de page de la navigation -->
    
</aside>